/* Body Styling */
body {
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: min-content min-content min-content;
    font-family: "Verdana", serif;
    margin: 0;

    display: grid;
}


/* Header Styling */
.header {
    grid-column: 1/span max;
    grid-row: 1;
    background: black;
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header #headerlogo {
    padding: 1em;
    width: clamp(10vw, 25vw, 25vw);
}


/* Navbar Styling */
.navbar {
    grid-column: 1/span max;
    grid-row: 2;
    background: black;
    color: white;
    height: 3em;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 5vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
}

.nav-item {
    text-align: center;
    height: inherit;
    width: 100%;
}

.nav-item:hover, .nav-item:focus-within {
    box-shadow: inset 0.5em 0 black, inset -0.5em 0 black, inset 0 -0.15em black, inset 0 -0.3em white;
    color: yellow;
}

.has-dropdown:focus-within {
    box-shadow: inset 0.5em 0 black, inset -0.5em 0 black, inset 0 -0.15em black, inset 0 -0.3em yellow;
}

.nav-item a {
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
}

.dropdown {
    background: #f9f9f9;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
    padding: 0;

    display: none;
    z-index: 1;
}

.dropdown-item {
    text-decoration: none;
    color: black;
    padding: 0.5em 0;

    display: block;
}

.dropdown-item:hover {
    background: #ddd;
}

.has-dropdown:focus-within .dropdown {
    display: block;
}


/* Content Grid Styling */
.content-grid {
    grid-column: 1/span max;
    grid-row: 3;
    grid-template-areas:
            'articles'
            'carousel';
    grid-gap: 5vw;
    padding: 5vw;

    display: grid;
}

/* Article Section Styling */
.article-section {
    grid-area: articles;
    /* Placeholder to show area */
    border: 0.1em solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Carousel Section Styling */
.carousel-section {
    grid-area: carousel;
    /* Placeholder to show area */
    border: 0.1em solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

