/* Body Styling */
body {
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: min-content;
    margin: 0;

    display: grid;
}


/* Header Styling */
header {
    grid-column: 1/span max;
    grid-row: auto;
    background: black;
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header #headerlogo {
    padding: 1em;
    width: clamp(10vw, 25vw, 25vw);
}


/* Navbar Styling */
nav {
    grid-column: 1/span max;
    background: black;
    color: white;
    height: 3em;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 5vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
}

.nav-item {
    text-align: center;
    height: inherit;
    width: 100%;
}

.nav-item a {
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
}

.nav-item:hover {
    box-shadow: inset 0 -0.2em black, inset 0 -0.4em white;
}

.dropdown {
    background: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0;

    display: none;
    z-index: 1;
}

.dropdown-item {
    text-decoration: none;
    color: black;
    padding: 0.5em 0;

    display: block;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.has-dropdown:hover .dropdown {
    display: block;
}

